:root {
    /* ===== PRIMITIVE COLORS (RAW PALETTES) ===== */

    /* Purple */
    --purple-50:  #D2C7D9;
    --purple-200: #C693E1;
    --purple-400: #673F7E;
    --purple-600: #421D53;
    --purple-800: #270F32;
    --purple-900: #190424;

    /* Plum */
    --plum-50:  #DAC8D4;
    --plum-200: #F7ACCF;
    --plum-400: #7F225F;
    --plum-600: #5F1647;
    --plum-800: #3F0B2F;
    --plum-900: #1E0517;

    /* Violet */
    --violet-50:  #D8C7D9;
    --violet-200: #E193E1;
    --violet-400: #9C2E9E;
    --violet-600: #5C165E;
    --violet-800: #3C0B40;
    --violet-900: #1C051F;

    /* Indigo */
    --indigo-50:  #D0C7D9;
    --indigo-200: #9F69CF;
    --indigo-400: #7817DB;
    --indigo-600: #4A0E85;
    --indigo-800: #2B084D;
    --indigo-900: #18042B;

    /* ===== SPACING ===== */

    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 40px;

    /* ===== RADIUS ===== */

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-xl: 32px;
    --radius-2xl: 128px;


    /* ===== TEXT ===== */
    --color-text-primary: var(--purple-50);
    --color-text-secondary: var(--purple-200);
    --color-text-brand: var(--purple-50);
    --color-text-invert: var(--purple-900);

    /* ===== SURFACE ===== */
    --color-surface-primary: var(--purple-900);
    --color-surface-secondary: var(--purple-800);
    --color-surface-tertiary: var(--purple-600);
    --color-surface-accent: var(--purple-200);

    /* ===== BORDER ===== */
    --color-border-primary: var(--purple-600);

    /* ===== ICON ===== */
    --color-icon-primary: var(--purple-50);
}


[data-theme="purple"] {
    --color-text-primary: var(--purple-50);
    --color-text-secondary: var(--purple-200);
    --color-text-brand: var(--purple-50);
    --color-text-invert: var(--purple-900);

    --color-surface-primary: var(--purple-900);
    --color-surface-secondary: var(--purple-800);
    --color-surface-tertiary: var(--purple-600);
    --color-surface-accent: var(--purple-200);

    --color-border-primary: var(--purple-600);
    --color-icon-primary: var(--purple-50);
}


[data-theme="plum"] {
    --color-text-primary: var(--plum-50);
    --color-text-secondary: var(--plum-200);
    --color-text-brand: var(--plum-50);
    --color-text-invert: var(--plum-900);

    --color-surface-primary: var(--plum-900);
    --color-surface-secondary: var(--plum-800);
    --color-surface-tertiary: var(--plum-600);
    --color-surface-accent: var(--plum-200);

    --color-border-primary: var(--plum-600);
    --color-icon-primary: var(--plum-50);
}


[data-theme="violet"] {
    --color-text-primary: var(--violet-50);
    --color-text-secondary: var(--violet-200);
    --color-text-brand: var(--violet-50);
    --color-text-invert: var(--violet-900);

    --color-surface-primary: var(--violet-900);
    --color-surface-secondary: var(--violet-800);
    --color-surface-tertiary: var(--violet-600);
    --color-surface-accent: var(--violet-200);

    --color-border-primary: var(--violet-600);
    --color-icon-primary: var(--violet-50);
}


[data-theme="indigo"] {
    --color-text-primary: var(--indigo-50);
    --color-text-secondary: var(--indigo-200);
    --color-text-brand: var(--indigo-50);
    --color-text-invert: var(--indigo-900);

    --color-surface-primary: var(--indigo-900);
    --color-surface-secondary: var(--indigo-800);
    --color-surface-tertiary: var(--indigo-600);
    --color-surface-accent: var(--indigo-200);

    --color-border-primary: var(--indigo-600);
    --color-icon-primary: var(--indigo-50);
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Inter";
    font-size: 1rem;
    color: var(--color-text-primary);
    background-color: var(--color-surface-primary);
}

/*navbar styles*/
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    background: linear-gradient(
        90deg,
        var(--color-surface-accent),
        var(--color-text-secondary),
        var(--color-text-primary)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .links {
    margin-left: auto;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.content {
    flex-direction: column;
    display: flex;
    align-items: center;
    /* max-width: 600px; */
    /* margin: 40px auto;
    padding: 20px; */
}

.preview{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}

.preview:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.preview h2{
    font-size: 20px;
    /* color: #6610f2; */
    margin-bottom: 8px;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--color-surface-accent);
}


.details{
    padding: 20px;
    padding-left: 80px;
    border: thick solid var(--color-surface-accent);
    border-radius: 25% 10%;;
    max-width: 400px;
}

.details h2{
    font-size: 20px;
    color: var(--color-text-primary);
    margin-bottom: 10px;
}

.details div{
    margin: 20px 0;
}

.delete-button{
    margin-left: 120px;
}

.errorMessage {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
}

.errorMessage p {
    font-weight: bold;
    margin: 0 10px 10px 10px;
}

.errorMessage ul {
    padding-left: 20px;
}
/* 
/* General sidebar styling */
/* .filter-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 245px;
    background-color: #e0cffe;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #333;
    box-sizing: border-box;
}

/* Header styling */
/* .filter-sidebar h3 {
    color: #6610f2;
    margin-bottom: 20px;
} */


/* FILTER BAR CONTAINER */
.filter-sidebar {
    display: flex;
    align-items: center;
    gap: 12px;

    /* width: 100%; */
    width: 1222px;

    padding: 16px 20px;

    background: var(--color-surface-tertiary);
    border-radius: 16px;

    box-sizing: border-box;
}
/* Filter field styling */

.filter {
    display: flex;
    align-items: center;
    flex: 1;

    height: 40px;

    background: var(--color-surface-primary);
    border-radius: 8px;

    padding: 0 12px;
}

/* .filter {
    margin-bottom: 15px;
    width: 100%;
} */

/* .filter label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #6610f2;
} */

.filter label {
    display: none;
}

/* .filter input, .filter select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
} */

.filter input,
.filter select {
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    background: transparent;

    font-family: "Inter", sans-serif;
    font-size: 14px;

    color: var(--color-text-primary);
}

.filter input::placeholder {
    font-weight: 300;
    opacity: 0.6;
}

.filter select {
    appearance: none;
    cursor: pointer;
}

/* Button styling */
.filter-sidebar button {
    height: 40px;
    padding: 0 20px;

    background: var(--color-surface-accent);
    color: black;

    border: none;
    border-radius: 20px;

    font-family: "Roboto", sans-serif;
    font-size: 14px;

    cursor: pointer;
    transition: 0.2s ease;
}

.filter-sidebar button:hover {
    filter: brightness(1.1);
}

/* FORM CONTAINER */
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 24px;
}

/* FORM CARD */
.form {
    width: 404px;

    padding: 40px 40px 32px 40px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    background: var(--color-surface-secondary);
    border-radius: var(--radius-lg);
    border: solid 1px var(--color-surface-tertiary);
}

/* FIELD GROUP */
.form-fields {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* SINGLE FIELD */
.form-field {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* LABEL */
.form-label {
    background-color: transparent;
    padding-left: 8px;
}

/* INPUT WRAPPER */
.form-input-wrapper {
    display: flex;
    align-items: center;

    height: 40px;
    padding: 5px 16px;

    background: var(--color-surface-primary);
    border-radius: var(--radius-md);
}

/* INPUT */
.form-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.form-input::placeholder {
    font-weight: 200;
    opacity: 0.7;
}

/* INPUT HOVER */
.form-input-wrapper:hover {
    box-shadow: 0 0 0 1px var(--color-surface-accent);
}

/* INPUT FOCUS */
.form-input-wrapper:focus-within {
    background: var(--color-surface-secondary);
    box-shadow: 0 0 0 1px var(--color-surface-accent);
}

.form-input:focus::placeholder {
    color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(80%) sepia(20%) saturate(300%) hue-rotate(260deg);
    opacity: 0.7;
    cursor: pointer;
}

/* RADIO GROUP */
.form-radio-group {
    display: flex;

    height: 40px;

    border-radius: var(--radius-md);
    overflow: hidden;

    border: 1px solid var(--color-surface-tertiary);
}

.form-radio-option {
    flex: 1;

    border: none;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: capitalize;
}

/* SEPARATORS between segments */
.form-radio-option:not(:last-child) {
    border-right: 1px solid var(--color-surface-tertiary);
}

/* ACTIVE SEGMENT */
.form-radio-option.active {
    background: var(--color-surface-tertiary);
}

.form-radio-option:hover:not(.active) {
    background: var(--color-surface-secondary);
}

/* BUTTON */
.form-submit {
    height: 40px;

    background: var(--color-surface-accent);
    color: var(--color-text-invert);

    border: none;
    border-radius: var(--radius-md);

    font-family: 'Roboto';
    cursor: pointer;
}

/* HOVER */
.form-submit:hover {
    filter: brightness(1.1);
}

/* ACTIVE */
.form-submit:active {
    transform: scale(0.98);
}

/* DISABLED */
.form-submit:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* HELPER */
.form-helper {
    background-color: transparent;
    text-align: center;
}

.form-helper span, a{
    background-color: transparent;
}

.form-helper a{
    background-color: transparent;
    font-weight: 600;
}

.form-input-wrapper,
.form-radio-option,
.form-submit {
    transition: all 0.2s ease;
}


/* CALENDAR */
.calendar {
    width: 984px;
}

.calendar-header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--color-text-primary);
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
}

.calendar-weekday {
    text-align: center;
    opacity: 0.9;
}

.calendar-cell {
    position: relative;
    width: 120px;
    min-height: 96px;
    background: var(--color-surface-secondary);
    border: solid var(--color-border-primary) 1px;
    border-radius: 8px;
    padding: 8px;
    transition: 0.2s;
}

.calendar-cell:hover {
    background: var(--color-surface-tertiary);
}

.calendar-day-number {
    background-color: transparent;
    font-size: 14px;
    opacity: 0.8;
}

.calendar-events {
    background-color: transparent;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}/* 

.calendar-event {
    font-size: 12px;
    background: var(--color-surface-tertiary);
    padding: 4px 6px;
    border-radius: 6px;
}

.calendar-event:hover {
    background-color: var(--color-surface-accent);
} */

.calendar-event {
    background-color: transparent;

    margin-top: 8px;
    padding: 4px 4px 4px 4px;

    background: var(--color-surface-tertiary);
    border-radius: 4px;

    cursor: pointer;
    transition: all 0.2s ease;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* hover */
.calendar-event:hover {
    background: var(--color-surface-accent);
    color: black;
}

/* SUBJECT NAME */
.calendar-event-title {
    background-color: transparent;
    font-size: 10px;
    font-weight: 400; /* regular */
    line-height: 1.2;
    text-transform: uppercase;
}

/* TYPE + TIME */
.calendar-event-meta {
    background-color: transparent;
    font-size: 9px;
    font-weight: 300; /* light */
    opacity: 0.7;
    text-transform: capitalize;
}

.calendar-add {
    position: absolute;
    bottom: 6px;
    right: 6px;
    opacity: 0;
    border: none;
    background: var(--color-surface-accent);
    color: var(--color-surface-primary);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.calendar-cell:hover .calendar-add {
    opacity: 1;
}

.button-primary, .create-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    padding: 0 24px;

    border: none;
    border-radius: 999px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    cursor: pointer;
    transition: all 0.2s ease;

    user-select: none;
}

.button-primary, .create-button {
    background: var(--color-surface-accent);
    color: var(--color-text-invert);
}

.button-primary, .create-button {
    filter: brightness(1.05);
}

.button-primary, .create-button {
    transform: translateY(1px);
    filter: brightness(0.95);
}